{% extends 'Atletika_Havirov/base.html' %}
{% load static %}
{% block body_block %}
    <div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-3 mt-0"  style="height: 400px ; background-color: #cccccc">
                <div class="jumbotron ml-3" style="height: 100%">
                    <div CLASS="row justify-content-center">
                    <img class="float-center p-0" src="{% static 'Atletika_Havirov/logo.png' %}" style="height: 120px">
                    </div>



                </div>

            </div>

            <div class="col-9 " style="height: 400px; background-color: #07b6cb">
                <div class="jumbotron mr-3" style="height: 100%">

                </div>
            </div>

        </div>
    </div>
{% endblock %}